.add-goods__title {
  padding-left: 20px;
  //padding-right: 20px;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  //position: relative;
  //overflow-x: hidden;
  display: flex;
  align-items: center;
  gap: 22px;
  white-space: nowrap;

  &::after {
    content: "";
    display: block;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    width: 100%;
    height: 2px;
    background-color: @green-bg;
  }

  @media (min-width: @tablet) {
    padding-left: 30px;
    //padding-right: 30px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    gap: 36px;
  }

  @media (min-width: @desktop) {
    padding-left: 110px;
    //padding-right: 110px;
  }
}

.add-goods__wrapper {
  @media (min-width: @desktop) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 80px;
    margin-bottom: 86px;
  }
}

.add-goods__list {
  padding: 0 20px;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet) {
    padding: 0 30px;
  }

  @media (min-width: @desktop) {
    padding: 0;
  }
}

.add-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid @grey-bottom;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 14px;

  &:first-child {
    border-top: 1px solid @grey-bottom;
  }

  @media (min-width: @tablet) {
    border-left: 1px solid @grey-bottom;
    border-right: 1px solid @grey-bottom;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding: 28px 38px;

    .add-goods__btn {
      @media (max-width: 1339px) {
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
  }

  @media (min-width: @desktop) {
    border-left: none;
    border-right: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.add-goods__good {
  text-transform: uppercase;
}

.add-goods__content {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  color: @grey-font;

  @media (min-width: @tablet) {
    gap: 50px;
  }
}

.add-goods__present {
  margin: 35px 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 58px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: @tablet) {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding-left: 88px;
    padding-right: 124px;
    padding-top: 63px;
    padding-bottom: 73px;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop) {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.add-goods__order {
  text-align: center;
  color: @white;

  @media (min-width: @tablet) and (max-width: 1339px) {
    text-align: left;
  }
}
